:root {
        --primary-color: #4c81b3;
        --secondary-color: #f2f2f2;
        --tertiary-color: #fff;
        --error-color: #f53a2d;
        --success-color: #4CAF50;
        --line-color: #ccc;
        --font-general-color: #474747;
    }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--font-general-color);
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainContainer {
    max-width: 500px;
    width: 100%;
}

/* Form */

form {
    background: var(--secondary-color);
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
  }
  
  /* Labels */
  label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  /* Inputs */
  .email,
  .postalCode,
  .password,
  .confirm-password,
  .country {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    font-size: 1rem;
    background: var(--tertiary-color);
  }
  
  .email:focus,
  .country:focus,
  .postalCode:focus,
  .password:focus,
  .confirm-password:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 4px var(--primary-color);
  }

  .borderError {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--error-color) !important;
    box-shadow: 0 0 4px var(--error-color);
    border-radius: 5px;
    font-size: 1rem;
    background: var(--tertiary-color);
  }

  .borderError:focus {
    border-color: var(--error-color);
    outline: none;
    box-shadow: 0 0 4px var(--error-color);
  }

  .borderSuccess:focus {
    border-color: var(--success-color);
    outline: none;
    box-shadow: 0 0 4px var(--success-color);
  }

  .borderSuccess {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--success-color);
    box-shadow: 0 0 4px var(--success-color);
    border-radius: 5px;
    font-size: 1rem;
    background: var(--tertiary-color);
  }

  /* Messages */

  .floating-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--tertiary-color);
    padding: 10px 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: var(--font-general-color);
    max-width: 500px;
    min-width: 300px;
    width: 500px;
    text-align: center;
    height: 150px;
  }
  

  .messageError,
  .messageSuccess {
    font-size: 0.8rem;
    margin-top: 5px;
  }

  .messageError {
    color: var(--error-color);
  }

  .messageSuccess {
    color: var(--success-color);
  }
  
  .message {
    color: transparent;
  }
  /* Fieldset */
  fieldset {
    border: 1px solid var(--line-color);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
  }
  
  legend {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0 5px;
    color: var(--primary-color);
  }
  
  /* Button */
  .btn-submit,
  .btn-reset {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    padding: 10px 15px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  .btn-submit:hover {
    background-color: var(--success-color);
  }

  .btn-reset:hover {
    background-color: var(--error-color);
  }
  
